body {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url('images/background_IMG.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
  color: black;
  text-align: center

}

h1, h2 {
  text-align: center;
  font-weight: 600;
  font-size: 50px;
}

p {
  text-align: center;
  font-size: 35px;
  font-weight: bold;

}


/* 
a {
  margin-top: 12px;
  background-color: red;
  color: white;
  border-radius: 15%;
  border: 20px;
  border-color: black;
} */


.actions {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px;
  font-size: 25px;
  background-color: red;
  color: white;
  border-radius: 12px;
  
}

#container {
  display: grid;
  justify-content: center;
  grid-gap: 16px;
  grid-template-columns: repeat(6, 130px);
  grid-template-rows: : repeat(2, calc(130px / 2 * 3));

}



img { 
  height: 15vh;
  width: 7vw;
  border-style: solid white;
}