body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('images/background_IMG.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
  color: black;
  text-align: center

}

h1, h2 {
  text-align: center;
  font-weight: 600;
  font-size: 50px;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

p {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}





.actions {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px;
  font-size: 25px;
  background-color: red;
  color: white;
  
  border-radius: 12px;
  
}

#container {
  display: grid;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  grid-gap: 10px;
  grid-template-columns: repeat(6, 130px);
  grid-template-rows: repeat(2, calc(130px / 2 * 3));

  background-image: url('images/blank_IMG.png');
  

}

.game {
  
  display: flex;
  
}

img { 
  height: 100%;
  width: 100%;
  border-style: solid white;
  background-color: rgba(255, 255, 255, 0);
}

/* @media (max-width: 1250px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;


  }
} */